# Created by .ignore support plugin (hsz.mobi)
#.gitignore
.gradle/3.3/tasks/
app/build/generated/assets/
app/build/generated/res/
app/build/generated/source/aidl/
app/build/generated/source/apt/
app/build/generated/source/r/androidTest/
app/build/generated/source/rs/
app/build/intermediates/assets/
app/build/intermediates/blame/res/androidTest/
app/build/intermediates/classes/
app/build/intermediates/incremental-safeguard/
app/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
app/build/intermediates/incremental/mergeDebugAndroidTestResources/merged.dir/
app/build/intermediates/incremental/mergeDebugAssets/
app/build/intermediates/incremental/mergeDebugJniLibFolders/
app/build/intermediates/incremental/mergeDebugResources/aapt-temp/
app/build/intermediates/incremental/mergeDebugShaders/
app/build/intermediates/incremental/packageDebug/
app/build/intermediates/incremental/packageDebugAndroidTest/
app/build/intermediates/incremental/packageRelease/
app/build/intermediates/incremental/processDebugAndroidTestResources/
app/build/intermediates/incremental/processDebugResources/
app/build/intermediates/jniLibs/
app/build/intermediates/manifest/tmp/
app/build/intermediates/manifests/instant-run/
app/build/intermediates/pre-dexed/
app/build/intermediates/res/merged/androidTest/
app/build/intermediates/rs/
app/build/intermediates/shaders/
app/build/intermediates/symbols/androidTest/
app/build/generated/source/buildConfig/androidTest/debug/com/madscientist/
app/build/generated/source/r/debug/android/support/compat/
app/build/generated/source/r/debug/android/support/coreui/
app/build/generated/source/r/debug/android/support/coreutils/
app/build/generated/source/r/debug/android/support/fragment/
app/build/generated/source/r/debug/android/support/mediacompat/
app/build/generated/source/r/debug/butterknife/
app/build/
bin/
app/app.iml
.idea/libraries/
### Android template
# Built application files
*.apk
*.ap_

# Files for the ART/Dalvik VM
*.dex

# Java class files
*.class

# Generated files
gen/
out/

# Gradle files
.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties

# Proguard folder generated by Eclipse
proguard/

# Log Files
*.log

# Android Studio Navigation editor temp files
.navigation/

# Android Studio captures folder
captures/

# Intellij
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/dictionaries
.idea/libraries
.idea/

# Keystore files
# Uncomment the following line if you do not want to check your keystore files in.
#*.jks

# External native build folder generated in Android Studio 2.2 and later
.externalNativeBuild

# Google Services (e.g. APIs or Firebase)
google-services.json

# Freeline
freeline.py
freeline/
freeline_project_description.json
app/src/main/res/values-v11/
app/src/main/res/values-v14/
