# Created by .ignore support plugin (hsz.mobi)
.gradle/3.3/tasks/
app/build/
.idea/
.gradle/
build/
app/app.iml
app/build/generated/assets/
app/build/generated/res/
app/build/generated/source/aidl/
app/build/generated/source/apt/
app/build/generated/source/r/androidTest/
app/build/generated/source/rs/
app/build/intermediates/assets/
app/build/intermediates/blame/res/androidTest/
app/build/intermediates/classes/
app/build/intermediates/incremental-safeguard/
app/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
app/build/intermediates/incremental/mergeDebugAndroidTestResources/merged.dir/
app/build/intermediates/incremental/mergeDebugAssets/
app/build/intermediates/incremental/mergeDebugJniLibFolders/
app/build/intermediates/incremental/mergeDebugResources/aapt-temp/
app/build/intermediates/incremental/mergeDebugShaders/
app/build/intermediates/incremental/packageDebug/
app/build/intermediates/incremental/packageDebugAndroidTest/
app/build/intermediates/incremental/packageRelease/
app/build/intermediates/incremental/processDebugAndroidTestResources/
app/build/intermediates/incremental/processDebugResources/
app/build/intermediates/jniLibs/
app/build/intermediates/manifest/tmp/
app/build/intermediates/manifests/instant-run/
app/build/intermediates/pre-dexed/
app/build/intermediates/res/merged/androidTest/
app/build/intermediates/rs/
app/build/intermediates/shaders/
app/build/intermediates/symbols/androidTest/
app/build/intermediates/transforms/
app/build/outputs/apk/
app/build/tmp/
build/android-profile/profile-2017-08-12-20-20-29-692.rawproto
build/android-profile/profile-2017-08-12-20-20-37-840.rawproto
build/android-profile/profile-2017-08-12-20-23-15-117.rawproto
.idea/libraries/butterknife_8_7_0.xml
.idea/libraries/butterknife_annotations_8_7_0.xml
.idea/libraries/support_annotations_25_3_0.xml
.idea/libraries/support_compat_25_3_0.xml
.idea/libraries/support_core_ui_25_3_0.xml
.idea/libraries/support_core_utils_25_3_0.xml
.idea/libraries/support_fragment_25_3_0.xml
.idea/libraries/support_media_compat_25_3_0.xml
.idea/libraries/support_v4_25_3_0.xml
app/build/generated/source/buildConfig/androidTest/debug/com/madscientist/
app/build/generated/source/r/debug/android/support/compat/
app/build/generated/source/r/debug/android/support/coreui/
app/build/generated/source/r/debug/android/support/coreutils/
app/build/generated/source/r/debug/android/support/fragment/
app/build/generated/source/r/debug/android/support/mediacompat/
app/build/generated/source/r/debug/butterknife/
app/build/intermediates/builds/
app/build/intermediates/incremental-classes/
app/build/intermediates/incremental-runtime-classes/
app/build/intermediates/incremental-verifier/
app/build/intermediates/incremental/instantRunDependenciesApkBuilder/
app/build/intermediates/incremental/packageInstantRunResourcesDebug/
app/build/intermediates/instant-run-resources/
app/build/intermediates/instant-run-support/
app/build/intermediates/reload-dex/
app/build/intermediates/restart-dex/
app/build/intermediates/split-apk/
build/android-profile/profile-2017-08-12-21-19-10-250.rawproto
build/android-profile/profile-2017-08-12-21-19-54-484.rawproto
build/android-profile/profile-2017-08-13-15-37-03-434.rawproto
build/android-profile/profile-2017-08-13-15-38-24-429.rawproto
build/android-profile/profile-2017-08-13-15-38-40-475.rawproto
build/generated/mockable-android-25.jar
.idea/libraries/
app/app-debug.apk
build/android-profile/profile-2017-08-13-16-38-12-796.rawproto
build/android-profile/profile-2017-08-13-16-38-30-085.rawproto
app/build/generated/source/buildConfig/androidTest/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/
build/android-profile/profile-2017-08-20-15-23-11-302.rawproto
build/android-profile/profile-2017-08-20-15-23-46-343.rawproto
